@import 'tailwindcss';

:root {
	--background: #0a0a0a;
}

@theme inline {
	--color-background: var(--background);
	--color-white-100: #e5e5e5;
	--color-black-950: #171717;
	--font-sora: var(--font-sora);
	--font-reddit-sans: var(--font-reddit-sans);
	--font-jersey-15: var(--font-jersey-15);
	--font-cascadia-code: var(--font-cascadia-code);
}

@custom-variant dark (&:where(.dark, .dark *));

*,
*::before,
*::after {
	box-sizing: border-box;
}

body {
	width: 100%;
	background-color: var(--background);
	color: white;
	font-family: Arial, Helvetica, sans-serif;
	display: flex;
	flex-direction: column;
	align-items: center;
	scroll-behavior: smooth;
	overflow-x: hidden;
	position: relative;
}

pre code span span {
	font-family: var(--font-jersey-15);
	font-size: 1.25rem;
}

.cascadia-code pre code span span {
	font-family: var(--font-cascadia-code);
	font-size: 0.85rem;
}

.motion-slider-gradient {
	mask-image: linear-gradient(
		to right,
		rgba(0, 0, 0, 0),
		rgba(0, 0, 0, 1) 10%,
		rgba(0, 0, 0, 1) 90%,
		rgba(0, 0, 0, 0)
	);
}
